@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Contact Us";
}

<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
   
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li>Contact Us</li>
            </ul>
            <h2>Contact Us</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Message Box Start-->
<section class="message-box">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="message-box__left">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">get in touch with our team</h2>
                        <span class="section-title__tagline d-none">Trusted by more than 4,200 customers</span>
                    </div>
                    <div class="message-box__social">
                        <a style="color:darkblue; font-size:30px;" target="_blank" href="https://www.facebook.com/share/16SZ1SpL7u/?mibextid=wwXIfr" class="fab fa-facebook-square"></a>
                        <a style="color:dodgerblue; font-size:30px;" target="_blank" href="https://in.linkedin.com/in/polarcastle-edutech-2b4b74398" class="fab fa-linkedin"></a>
                        <a style="color:lightgreen; font-size:30px;" target="_blank" href="https://api.whatsapp.com/send?phone=+91-9589589159&amp;text=Hi" class="fab fa-whatsapp-square"></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="message-box__right">
                    <form asp-controller="Home" asp-action="SendMail" method="post" class="comment-one__form contact-form-validated">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Your name" name="name" required>
                                    <div class="comment-form__icon"><i class="far fa-user-circle"></i></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="School name" name="SchoolName" required>
                                    <div class="comment-form__icon"><i class="far fa-user-circle"></i></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="Email Address" name="email" required>
                                    <div class="comment-form__icon"><i class="far fa-envelope"></i></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Phone No." name="phoneno" required>
                                    <div class="comment-form__icon"><i class="far fa-mobile"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea name="Message" placeholder="Write Message" required></textarea>
                                    <div class="comment-form__icon contact-expert__icon-comment"><i class="far fa-comment"></i></div>
                                </div>
                                <button type="submit" class="thm-btn comment-form__btn">Send a message</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Message Box End-->
<!--Locations Start-->
<section class="locations d-none">
    <div class="container">
        <div class="location__inner">
            <div class="section-title text-center">
                <h2 class="section-title__title">offices near you</h2>
                <span class="section-title__tagline">Come and visit our office to find solutions</span>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">Tyreso</h3>
                        <p class="locations__text">
                            PolarCastle Fagelvagen 12 135 53
                        </p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:info@polarcastle.com" class="locations__mail">info@polarcastle.com</a>
                            <a href="tel:+91-9589589159" class="locations__phone">+91-9589589159</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">boston</h3>
                        <p class="locations__text">5 Federal Street Boston</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:needhelp@aivons.com" class="locations__mail">needhelp@aivons.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">888 999 0000</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">new york</h3>
                        <p class="locations__text">8th Broklyn New York</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:needhelp@aivons.com" class="locations__mail">needhelp@aivons.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">888 999 0000</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 900ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">baltimore</h3>
                        <p class="locations__text">3 Lombabr 50 baltimore</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:needhelp@aivons.com" class="locations__mail">needhelp@aivons.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">888 999 0000</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Locations End-->
<!--Contact Page Google Map Start-->
<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.266647329539!2d81.60794939113298!3d21.24638412147068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde8bc3f040d%3A0xc3c32071973008be!2sChoubey%20Colony%2C%20Raipur%2C%20Chhattisgarh!5e0!3m2!1sen!2sin!4v1761295541113!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('.comment-one__form');
        if (!form) {
            console.error('Form not found: .comment-one__form');
            return;
        }

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const data = new FormData(form);

            try {
                const res = await fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'RequestVerificationToken': form.querySelector('input[name="__RequestVerificationToken"]').value
                    },
                    body: data
                });

                const result = await res.json();
                console.log('Response JSON:', result);

                if (result.success) {
                    alert(result.message || 'Thanks! We’ll get back to you shortly.');
                    form.reset();
                } else {
                    alert(result.error || result.message || 'There was an error. Please try again.');
                    console.error(result.detail || result);
                }
            } catch (err) {
                alert('Request failed. Please try again later.');
                console.error(err);
            }
        });
    });
</script>

