@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Contact Us";
}

<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index-2.html">Home</a></li>
                <li><span>/</span></li>
                <li>Contact Us</li>
            </ul>
            <h2>Contact Us</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Message Box Start-->
<section class="message-box">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="message-box__left">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">get in touch with our team</h2>
                        <span class="section-title__tagline">Trusted by more than 4,200 customers</span>
                    </div>
                    <div class="message-box__social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                        <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="message-box__right">
                    <form action="#" class="comment-one__form contact-form-validated" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Your name" name="name">
                                    <div class="comment-form__icon">
                                        <i class="far fa-user-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="Email Address" name="email">
                                    <div class="comment-form__icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea name="message" placeholder="Write Message"></textarea>
                                    <div class="comment-form__icon contact-expert__icon-comment">
                                        <i class="far fa-comment"></i>
                                    </div>
                                </div>
                                <button type="submit" class="thm-btn comment-form__btn">Send a message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Message Box End-->
<!--Locations Start-->
<section class="locations d-none">
    <div class="container">
        <div class="location__inner">
            <div class="section-title text-center">
                <h2 class="section-title__title">offices near you</h2>
                <span class="section-title__tagline">Come and visit our office to find solutions</span>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">Tyreso</h3>
                        <p class="locations__text">
                            Digiteon AB Fagelvagen 12 135 53
                        </p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:contact@digiteon.se" class="locations__mail">contact@digiteon.se</a>
                            <a href="tel:0046-727602626" class="locations__phone">0046-727602626</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">boston</h3>
                        <p class="locations__text">5 Federal Street Boston</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:needhelp@aivons.com" class="locations__mail">needhelp@aivons.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">888 999 0000</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">new york</h3>
                        <p class="locations__text">8th Broklyn New York</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:needhelp@aivons.com" class="locations__mail">needhelp@aivons.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">888 999 0000</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 900ms; animation-name: fadeInUp;">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">baltimore</h3>
                        <p class="locations__text">3 Lombabr 50 baltimore</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:needhelp@aivons.com" class="locations__mail">needhelp@aivons.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">888 999 0000</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Locations End-->
<!--Contact Page Google Map Start-->
<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8167.069433816621!2d18.2040528!3d59.2199037!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x98b5ca1175412bf5!2sDigiteon%20AB!5e0!3m2!1sen!2sin!4v1649918782442!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>