@{

    ViewData["Title"] = "Home";
}
<style type="text/css">
    .thm-btn {
        margin:10px !important;
    }
</style>
<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
            "effect": "fade",
            "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
            },
            "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
            },
            "autoplay": {
                "delay": 5000
            }}'>
        <div class="swiper-wrapper">


            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url(images/img-9.jpg);">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider__content">
                                <p>Welcome to PolarCastle EduTech</p>
                                <h3 class="welcome-one__title" style="font-size:45px; color:white;">Ecofriendly platform access to all children on scale</h3>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">Request Free Demo</a>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">List Your School</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url(images/img-10.jpg);">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider__content">
                                <p>Welcome to PolarCastle EduTech</p>
                                <h3 class="welcome-one__title" style="font-size:45px; color:white;">Lively platform to connect parent, child and school</h3>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">Request Free Demo</a>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">List Your School</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url(images/img-11.jpg);">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider__content">
                                <p>Welcome to PolarCastle EduTech</p>
                                <h3 class="welcome-one__title" style="font-size:45px; color:white;">Equity and inclusivity in education through social platform</h3>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">Request Free Demo</a>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">List Your School</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url(images/img-4.jpg);">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider__content">
                                <p>Welcome to PolarCastle EduTech</p>
                                <h3 class="welcome-one__title" style="font-size:45px; color:white;">Play, Learn and Grow together for Bright Further for Friendly Platform</h3>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">Request Free Demo</a>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn">List Your School</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <span class="main-slider__next-text">Next</span><i class="icon-right-arrow icon-left-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                <span class="main-slider__prev-text">Prev</span><i class="icon-right-arrow"></i>
            </div>
        </div>
    </div>
</section>

<section class="welcome-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__left">
                    <div class="welcome-one__img-box">
                        <div class="welcome-one__img-1">
                            <img src="images/img-8.png" alt="">
                        </div>
                        <a href="#"
                           class="welcome-one__video-btn d-none">
                            <div class="welcome-one__video-btn-icon">
                                <i class="fa fa-play"></i>
                                <span class="ripple"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__right">
                    <h4 class="welcome-one__title" style=" font-size: 43px;">We are Trusted by our Clients & Partners</h4>
                    <p class="welcome-one__text">
                        PolarCastle is an Indian Edutech services organization run by focused and compassionate IT professional with over two decade of IT experience.
                        Our key focus areas are Technology and Consulting Services in Education Sector in India
                    </p>
                    <p class="welcome-one__text">
                        <b>Vision:</b> To make quality preschool education joyful and accessible at scale in India.
                    </p>
                    <p class="welcome-one__text">
                        <b>Mission:</b>  To support early learning through fun, culturally relevant content on a simple and accessible platform for both parents and teachers.
                    </p>
                    <div class="welcome-one__progress d-none">
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="88%">
                                    <div class="count-text">88%</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">IT Consulting & Solutions</h4>
                        </div>
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="68%">
                                    <div class="count-text">68%</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">Training</h4>
                        </div>
                    </div>
                    <div class="welcome-one__call">
                        <div class="welcome-one__call-icon">
                            <span class="icon-phone-ringing"></span>
                        </div>
                        <div class="welcome-one__call-text">
                            <p>Have any question? Give us a call</p>
                            <a href="tel:+91-9589589159">+91-9589589159</a>
                        </div>
                    </div>
                    <div class="welcome-one__big-text">aivons</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Welcome One End-->
<!--Two Boxes Start-->
<section class="two-boxes d-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="two-boxes__single">
                    <div class="two-boxes__single-content">
                        <div class="two-boxes__count">
                            <span></span>
                        </div>
                        <div class="two-boxes__content">
                            <h3 class="two-boxes__title">Get professional advice</h3>
                            <p class="two-boxes__text">
                                There are many variations of available but the majority
                                have suffered alteration.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="two-boxes__single">
                    <div class="two-boxes__single-content">
                        <div class="two-boxes__count">
                            <span></span>
                        </div>
                        <div class="two-boxes__content">
                            <h3 class="two-boxes__title">trusted & professional</h3>
                            <p class="two-boxes__text">
                                There are many variations of available but the majority
                                have suffered alteration.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Two Boxes End-->
<!--Cases One Start-->
<section class="cases-one d-none">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">new case studies</h2>
            <span class="section-title__tagline">We help our clients renew their business</span>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <!--Cases One Single-->
                <div class="cases-one__single">
                    <div class="cases-one__img-box">
                        <div class="cases-one__img">
                            <img src="assets/images/resources/cases-1-img-1.jpg" alt="">
                        </div>
                        <div class="cases-one__content">
                            <div class="cases-one__icon">
                                <span class="icon-mobile-analytics"></span>
                            </div>
                            <p class="cases-one__tagline">Thought leadership</p>
                            <h2 class="cases-one__tilte"><a href="cases-details.html">businesses growth</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <!--Cases One Single-->
                <div class="cases-one__single">
                    <div class="cases-one__img-box">
                        <div class="cases-one__img">
                            <img src="assets/images/resources/cases-1-img-2.jpg" alt="">
                        </div>
                        <div class="cases-one__content">
                            <div class="cases-one__icon">
                                <span class="icon-research"></span>
                            </div>
                            <p class="cases-one__tagline">Risk management</p>
                            <h2 class="cases-one__tilte"><a href="cases-details.html">Marketing advice</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <!--Cases One Single-->
                <div class="cases-one__single">
                    <div class="cases-one__img-box">
                        <div class="cases-one__img">
                            <img src="assets/images/resources/cases-1-img-3.jpg" alt="">
                        </div>
                        <div class="cases-one__content">
                            <div class="cases-one__icon">
                                <span class="icon-creative"></span>
                            </div>
                            <p class="cases-one__tagline">Business strategy</p>
                            <h2 class="cases-one__tilte">
                                <a href="cases-details.html">finance consulting</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Cases One End-->
<!--Our Mission Start-->
<section class="our-mission d-none">
    <div class="our-mission-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url(assets/images/backgrounds/our-mission-bg.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="our-mission__inner">
                    <h2 class="our-mission__title">
                        Mission is to Grow <br> your Business & <br> Much More
                    </h2>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn our-mission__btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Mission End-->
<!--Faq One Start-->
<section class="faq-one d-none" id="help">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Question Answers</h2>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="faq-one__left">
                    <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4><span>.</span>Clients with Skill needs</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>
                                        We ensure the highest quality candidates are placed within defined timelines & budgets using a consultative approach.
                                        <br />
                                        When you work with us you will get:
                                        <ul class="list-unstyled faq-one__list">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Access to premium profiles screened specifically to suit your requirements.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Local market expertise.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Consultative approach.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Smooth On-boarding guided by industry best practice.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4><span>.</span>Candidates looking for Jobs</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>
                                        We collaborate closely with you to find the right match and help you to plan your next career move securing the right assignment which is not just financially rewarding but also matches your career aspirations.
                                        <br />
                                        When you work with us you will get:
                                        <ul class="list-unstyled faq-one__list">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Access to premium clients.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Interview & Resume Coaching.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Local market expertise.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Transparent & Proactive Communication.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <!--<div class="accrodion">
                            <div class="accrodion-title">
                                <h4><span>.</span> what is the best advice for growth?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>
                                        There are many variations of passages the majority have suffered
                                        alteration in some fo injected humour, or randomised words believable.
                                    </p>
                                </div>-->
                        <!-- /.inner -->
                        <!--</div>
                        </div>-->
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4><span>.</span> Training Needs Corporate & Individual</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>
                                        We support our clients’ digital journeys by building crucial skills through our Training offerings helping them navigate complex transformations.
                                        <br />
                                        We cover a wide array of Skill development providing cutting edge Trainings in the field of Agile, Cloud, Security, Data etc.
                                        <br />
                                        When you work with us you will get:
                                        <ul class="list-unstyled faq-one__list">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">High Quality Trainers with Industry experience.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">Cutting edge Training Infrastructure.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <p style="font-size:14px;">High Certification Passing rate.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="faq-one__right">
                    <div class="faq-one__img">
                        <img src="assets/images/resources/faq-one-img-1.jpg" alt="">
                    </div>
                    <div class="faq-one__bottom">
                        <div class="faq-one__list-box">
                            <ul class="list-unstyled faq-one__list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Access to premium profiles and clients</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Local market expertise</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Best in–class trainings</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Experienced talent recruitment team</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Seamless payroll processing services</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="faq-one__experience-box">
                            <h2>20</h2>
                            <p>Years of <br>Combined Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Faq One End-->
<!--Testimonials One Start-->
<section class="testimonials-one d-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="testimonials-one__left">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">What they are talking About</h2>
                        <span class="section-title__tagline">Trusted by more than 4,200 customers</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="testimonials-one__right">
                    <div class="testimonials-one__carousel owl-theme owl-carousel">
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">
                                Lorem ipsum is simply free text dolor sit amet,
                                consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Todd Higgins</h5>
                                <p class="testimonials-one__client-title">Customer</p>
                            </div>
                            <div class="testimonials-one__client-img">
                                <img src="assets/images/testimonial/testimonials-1-1.png" alt="">
                            </div>
                            <div class="testimonials-one__quote"></div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">
                                Lorem ipsum is simply free text dolor sit amet,
                                consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Gordon King</h5>
                                <p class="testimonials-one__client-title">Customer</p>
                            </div>
                            <div class="testimonials-one__client-img">
                                <img src="assets/images/testimonial/testimonials-1-2.png" alt="">
                            </div>
                            <div class="testimonials-one__quote"></div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">
                                Lorem ipsum is simply free text dolor sit amet,
                                consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Paul Alvarez</h5>
                                <p class="testimonials-one__client-title">Customer</p>
                            </div>
                            <div class="testimonials-one__client-img">
                                <img src="assets/images/testimonial/testimonials-1-1.png" alt="">
                            </div>
                            <div class="testimonials-one__quote"></div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">
                                Lorem ipsum is simply free text dolor sit amet,
                                consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Hester Ortiz</h5>
                                <p class="testimonials-one__client-title">Customer</p>
                            </div>
                            <div class="testimonials-one__client-img">
                                <img src="assets/images/testimonial/testimonials-1-2.png" alt="">
                            </div>
                            <div class="testimonials-one__quote"></div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">
                                Lorem ipsum is simply free text dolor sit amet,
                                consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Randall Fleming</h5>
                                <p class="testimonials-one__client-title">Customer</p>
                            </div>
                            <div class="testimonials-one__client-img">
                                <img src="assets/images/testimonial/testimonials-1-1.png" alt="">
                            </div>
                            <div class="testimonials-one__quote"></div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">
                                Lorem ipsum is simply free text dolor sit amet,
                                consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Benjamin Hansen</h5>
                                <p class="testimonials-one__client-title">Customer</p>
                            </div>
                            <div class="testimonials-one__client-img">
                                <img src="assets/images/testimonial/testimonials-1-2.png" alt="">
                            </div>
                            <div class="testimonials-one__quote"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonials One End-->
<!--Counters One Start-->
<section class="counters-one d-none">
    <div class="counters-one-bg" style="background-image: url(assets/images/backgrounds/counter-one-bg.jpg)">
    </div>
    <div class="container">
        <ul class="counters-one__box list-unstyled">
            <li class="counter-one__single">
                <div class="counter-one__icon">
                    <span class="fas fa-globe"></span>
                </div>
                <h3 class="odometer" data-count="4">00</h3>
                <p class="counter-one__text">Countries Served</p>
                <br />
            </li>
            <li class="counter-one__single">
                <div class="counter-one__icon">
                    <span class="icon-customer-review"></span>
                </div>
                <h3 class="odometer" data-count="20+">00</h3>
                <p class="counter-one__text">years of combined Industry experience</p>
            </li>
            <li class="counter-one__single">
                <div class="counter-one__icon">
                    <span class="fa fa-server"></span>
                </div>
                <h3 class="odometer" data-count="25+">00</h3>
                <p class="counter-one__text">Technology Skills</p>
                <br />
            </li>
            <li class="counter-one__single">
                <div class="counter-one__icon">
                    <span class="fa fa-project-diagram"></span>
                </div>
                <h3 class="odometer" data-count="30+">00</h3>
                <p class="counter-one__text">Training Programs</p>
                <br />
            </li>
        </ul>
    </div>
</section>
<!--Counters One Start-->
<!--Financial Advice Start-->
<section class="financial-advice d-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="financial-advice__box tabs-box">
                    <ul class="tab-btns tab-buttons clearfix list-unstyled">
                        <li data-tab="#business" class="tab-btn"><span>Business Growth</span></li>
                        <li data-tab="#financial" class="tab-btn active-btn"><span>Financial Advice</span></li>
                        <li data-tab="#gobal" class="tab-btn"><span>Gobal Solutions</span></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tab " id="business">
                            <div class="financial-advice__content">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1">
                                            <ul class="list-unstyled financial-advice__list-box">
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">
                                                            Highest
                                                            Success Rates
                                                        </h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum
                                                            nibh vel velit auctor aliqu. Aenean sollic tudin,
                                                            lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">
                                                            We build
                                                            experience
                                                        </h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum
                                                            nibh vel velit auctor aliqu. Aenean sollic tudin,
                                                            lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-2">
                                            <p class="financial-advice_-desc">
                                                There are many variations of
                                                passages of lorem ipsum available, but the majority have
                                                suffered alteration in some form injected humour or randomised
                                                words which don't look believable.
                                            </p>
                                            <ul class="list-unstyled financial-advice__list-box-2">
                                                <li>If you are going to use a passage</li>
                                                <li>Lorem Ipsum you need to be sure</li>
                                                <li>There isn't anything embarrassing</li>
                                                <li> Hidden in the middle of text</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-3">
                                            <div class="financial-advice__img">
                                                <img src="assets/images/resources/financial-advice-img-1.jpg"
                                                     alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab active-tab" id="financial">
                            <div class="financial-advice__content">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1">
                                            <ul class="list-unstyled financial-advice__list-box">
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">
                                                            Highest
                                                            Success Rates
                                                        </h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum
                                                            nibh vel velit auctor aliqu. Aenean sollic tudin,
                                                            lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">
                                                            We build
                                                            experience
                                                        </h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum
                                                            nibh vel velit auctor aliqu. Aenean sollic tudin,
                                                            lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-2">
                                            <p class="financial-advice_-desc">
                                                There are many variations of
                                                passages of lorem ipsum available, but the majority have
                                                suffered alteration in some form injected humour or randomised
                                                words which don't look believable.
                                            </p>
                                            <ul class="list-unstyled financial-advice__list-box-2">
                                                <li>If you are going to use a passage</li>
                                                <li>Lorem Ipsum you need to be sure</li>
                                                <li>There isn't anything embarrassing</li>
                                                <li> Hidden in the middle of text</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-3">
                                            <div class="financial-advice__img">
                                                <img src="assets/images/resources/financial-advice-img-1.jpg"
                                                     alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab" id="gobal">
                            <div class="financial-advice__content">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1">
                                            <ul class="list-unstyled financial-advice__list-box">
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">
                                                            Highest
                                                            Success Rates
                                                        </h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum
                                                            nibh vel velit auctor aliqu. Aenean sollic tudin,
                                                            lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">
                                                            We build
                                                            experience
                                                        </h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum
                                                            nibh vel velit auctor aliqu. Aenean sollic tudin,
                                                            lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-2">
                                            <p class="financial-advice_-desc">
                                                There are many variations of
                                                passages of lorem ipsum available, but the majority have
                                                suffered alteration in some form injected humour or randomised
                                                words which don't look believable.
                                            </p>
                                            <ul class="list-unstyled financial-advice__list-box-2">
                                                <li>If you are going to use a passage</li>
                                                <li>Lorem Ipsum you need to be sure</li>
                                                <li>There isn't anything embarrassing</li>
                                                <li> Hidden in the middle of text</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-3">
                                            <div class="financial-advice__img">
                                                <img src="assets/images/resources/financial-advice-img-1.jpg"
                                                     alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Financial Advice End-->
<!--Google Map Start-->
<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.266647329539!2d81.60794939113298!3d21.24638412147068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde8bc3f040d%3A0xc3c32071973008be!2sChoubey%20Colony%2C%20Raipur%2C%20Chhattisgarh!5e0!3m2!1sen!2sin!4v1761295541113!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!--Google Map End-->
<!--News One Start-->
<section class="news-one d-none">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">What’s Happening</h2>
            <span class="section-title__tagline">Checkout what we have been doing</span>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-1-1.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li>
                                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">Metrics mission skills.</a>
                        </h3>
                        <p class="news-one__text">
                            Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.
                        </p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-1-2.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li>
                                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">solutions total link parallel</a>
                        </h3>
                        <p class="news-one__text">
                            Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.
                        </p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-1-3.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li>
                                <a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">business advice for growth</a>
                        </h3>
                        <p class="news-one__text">
                            Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.
                        </p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--News One End-->
<!--CTA One Start-->
<section class="cta-one">
    <div class="cta-one-bg" style="background-image: url(~/assets/images/backgrounds/cta-one-bg.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__left">
                        <h2 class="cta-one__title">We’re sharing real-time updates about the children’s activities at pre-school.</h2>
                    </div>
                    <div class="cta-one__right">
                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="thm-btn cta-one__btn">let’s get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->
