@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "IT Consulting & Solutions";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li>Services</li>
                <li><span>/</span></li>
                <li>IT Consulting & Solutions</li>
            </ul>
            <h2>IT Consulting & Solutions</h2>
        </div>
    </div>
</section>
<section class="services-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="services-details__left">
                    <div class="services-details__img">
                        <img src="~/assets/images/services/services-details-img-1.jpg" alt="">
                    </div>
                    <div class="services-details__top-content">
                        <h2 class="services-details__top-title">IT Consulting & Solutions</h2>
                        <p class="services-details__top-text">
                            We enable successful & cost-efficient programs for our clients by providing them with highly experienced consultants matching their unique needs.
                        </p>
                        <p class="services-details__top-text"">
                            We match our clients to local candidates to create a cultural fit. We are specialists in recruiting niche talent and we support international candidates with work permit and relocation. We help you in scaling your project needs with fast onbaording of skilled IT Consultants
                        </p>
                    </div>
                    
                   
                    <div class="services-details__bottom-box">
                        <div class="services-details__bottom-box-single">
                            <div class="services-details__bottom-box-content">
                                <h4 class="services-details__bottom-box-title">
                                    We support in providing various skillsets by understanding your needs and budgets across various roles as listed :
                                </h4>
                                <p class="services-details__bottom-box-text">
                                    <ul class="list-unstyled services-details__planning-list">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Front end Developers</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Back end Developers</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Full-stack Developers</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mobile Developers</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>DevOps Engineer</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>QA Engineer</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Project Managers</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Scrum Masters</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <p>Product Owners</p>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="services-details__sidebar">                    
                    <div class="services-details__help-box">
                        <div class="services-details__help-box-bg" style="background-image: url(~/assets/images/services/services-details-need-help-bg.jpg)">
                        </div>
                        <div class="services-details__help-box-bg-overly"></div>
                        <h3 class="services-details__help-box-title">Need Help?</h3>
                        <p class="services-details__help-box-text">
                            Prefer speaking with a human to filling out a
                            form? call corporate office and we will connect you with a team member who can help.
                        </p>
                        <a href="tel:+46-727602626" class="services-details__phone">+46-727602626</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>