@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "IT development & maintenance";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li>Services</li>
                <li><span>/</span></li>
                <li>Web development & maintenance</li>
            </ul>
            <h2>Web development & maintenance</h2>
        </div>
    </div>
</section>
<section class="services-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="services-details__left">
                    <div class="services-details__img">
                        <img src="~/assets/images/services/services-details-img-1.jpg" alt="">
                    </div>
                </div>

                <div class="services-details__bottom-box">
                    <div class="services-details__bottom-box-single">
                        <div class="services-details__top-content">
                            <h2 class="services-details__top-title">Web development & maintenance </h2>
                            <p class="services-details__top-text">
                                In today’sfast-changing technology landscape, weprovide our customers with a web design studio that offers corporate web design as well as web design for small-scale business. We ensure all our website development follows basic guiding principles of User-Friendly Interface, best in-class performance, Responsive design as well as secure hosting and management of data as per local compliance like GDPR. We are a One Stop shop for Website development and Maintenance.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="services-details__bottom-box-content">
                    <h4 class="services-details__bottom-box-title">
                        We provide below mentioned services:
                    </h4>
                    <p class="services-details__bottom-box-text">
                        <ul class="list-unstyled services-details__planning-list">
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Website Design and Development</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>E-Commerce Website</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Domain Registration</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Web Hosting and Maintenance</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Search Engine Optimization</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Social Media Marketing</p>
                                </div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="services-details__sidebar">
                    <div class="services-details__help-box">
                        <div class="services-details__help-box-bg" style="background-image: url(~/assets/images/services/services-details-need-help-bg.jpg)">
                        </div>
                        <div class="services-details__help-box-bg-overly"></div>
                        <h3 class="services-details__help-box-title">Need Help?</h3>
                        <p class="services-details__help-box-text">
                            Prefer speaking with a human to filling out a
                            form? call corporate office and we will connect you with a team member who can help.
                        </p>
                        <a href="tel:+46-727602626" class="services-details__phone">+46-727602626</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
