@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Privacy Policy";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li>Privacy Policy</li>
            </ul>
            <h2>Privacy Policy</h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="services-details__bottom-box">
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    <span style="font-size: 22px; text-align: left; font-weight: bold; color: black;">How we use your personal information</span>
                    <br /><br />
                    Your personal information will be held by PolarCastle.
                    Our privacy notice explains what information we may obtain from you or about you, how we will use your information, and how we will look after your information.
                    <br /><br />
                    <b>
                        Our commitment to our Candidates and our Contract Resource  We will :
                    </b>
                    <ul style="list-style: disc; font-size: 13px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; ">
                        <li>Only ask for and keep personal information about you which we feel is necessary to deliver the best recruitment service we can; which is in your interests, our business interests, and the business interests of potential future employers.</li>
                        <li>Only use your personal information for the purpose of providing you with recruitment services, whether for finding you permanent, fixed term, or temporary/contract roles, both now and in the future and which includes; developing our service and relationship with you and our Clients, assessing your suitability for roles, maintaining and updating your personal information on your database, contacting you about relevant roles, and administering contract assignments you may undertake through us.</li>
                        <li>Only share your personal information with prospective employers that we have discussed with you prior to sending your personal information for a role. We will never sell your information to any person.</li>
                        <li>We may store and process your personal information outside of Europe where it is necessary for us to do so or where our IT systems are cloud-based services provided by third party service providers.  We will only process your personal information outside of Europe where we have adequate safeguards in place with our clients and third-party service providers or we have obtained your explicit consent to handle your information in this way.</li>
                        <li>Only retain your personal information for as long as we consider it necessary in order that we can continue to provide the best recruitment service to you now and in the future or for as long as required to comply with our legal obligations.</li>
                        <li>Ensure that your personal information is held securely.</li>
                        <li>Not make any decision about your application for a role based solely on automated decision-making.</li>
                        <li>Comply with all applicable laws in the provision of our recruitment services to you and our processing of your personal information.</li>
                        <li>Only contact you about relevant temporary, contract, and permanent roles we have now and in the future by post, phone, email, or by other means of electronic mail.</li>
                        <li>Only send you marketing communications by post, email, or by other electronic means which relate to our recruitment services or other similar services which we believe will be of interest to you.</li>
                    </ul>

                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                        Your personal information and the law
                        <br />
                        Who we are
                        <br />
                        About Us
                    </span>
                    <br /> <br />
                    We are PolarCastle, a registered company in Sweden under company number 559372-8131  with our registered office at Fagelvagen 12 135 53 Tyreso.
                    <br /> <br />
                    We act as an “employment agency” for the introduction and placement of candidates for permanent and or fixed term roles with our clients and as an “employment business” in respect of the introduction and supply of contract resource for temporary and or contract roles with our clients.
                    <br /> <br />
                    We are required to comply with employment related laws in the provision of our respective temporary and or permanent recruitment services.
                    <br /> <br />
                    We deliver our recruitment services to clients based in the Sweden, Denmark, Norway, Finland &Europe whom have local and international roles to fulfil.
                    <br /> <br />
                    PolarCastle is the data controller, this means that PolarCastle determines what personal information is collected, how personal information is going to be used and how personal information is protected.
                    <br /> <br />
                    We confirm that all business activities, including all processing activities in relation to personal information, of PolarCastle are conducted from Sweden head office and are stored within the systems of PolarCastle.
                    <br /> <br />
                    <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                        Our services
                    </span>
                    <br />
                    We are a niche employment agency and we specialise in IT. We provide a tailored recruitment service to our client organisations who are seeking to find talent to fill their contract roles, permanent roles and  fixed term roles across sectors.
                    <br /> <br />
                    <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                        Our role
                    </span>
                    <br />
                    <b>In delivering our recruitment services, we assist and support:</b>
                    <ul style="list-style: disc; font-size: 13px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; ">
                        <li>Client organisations in finding suitable talent for their skills needs now and, in the future.</li>
                        <li>Candidates in identifying and exploring new and relevant employment opportunities for them now and in the future</li>
                        <li>The wider social aims of reducing skills shortages, ensuring more people find work, and reducing and maintaining low unemployment in Sweden.</li>
                    </ul>
                    <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                        How to contact us.
                    </span>
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    Should you wish to contact us more formally to exercise any of your rights in law or to request information about our use of your personal information please refer to Your Rights and How to Complain below.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                        Your personal information
                    </span>
                    <br />
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    Personal data including special categories of data and criminal convictions and offences data (sensitive information)
                    Any information we hold about you which identifies you as an individual (personal data under the General Data Protection Regulations (GDPR) which comes into force from 25th May 2018) may only be used by us in accordance with the requirements of the GDPR.   Any personal data that we hold manually or electronically in a relevant filing system is within scope of GDPR.  If we use particularly sensitive personal data about you (special categories of data under GDPR) or we use personal data relating to criminal convictions and offences, we must comply with additional rules under the Data Protection Act 2018.   For more info on what special categories of data are see below.
                    Your personal information
                    Personal data including special categories of data and criminal convictions and offences data (sensitive information)
                    Any information we hold about you which identifies you as an individual (personal data under the General Data Protection Regulations (GDPR) which comes into force from 25th May 2018) may only be used by us in accordance with the requirements of the GDPR.   Any personal data that we hold manually or electronically in a relevant filing system is within scope of GDPR.  If we use particularly sensitive personal data about you (special categories of data under GDPR) or we use personal data relating to criminal convictions and offences, we must comply with additional rules under the Data Protection Act 2018.   For more info on what special categories of data are see below.
                </p>
                <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                    Special categories of data are data which reveal an individual’s:
                </span>
                <ul style="list-style: disc; font-size: 13px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; ">
                    <li>Racial or ethnic origin</li>
                    <li>
                        Religion or political views
                    </li>
                    <li>
                        Data relating to their health
                    </li>
                    <li>
                        Genetic and biometric data
                    </li>
                    <li>
                        Membership to a trade union
                    </li>
                    <li>
                        Sex life or sexual orientation
                    </li>
                </ul>
                <br />
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    When we refer to your “personal information” in this privacy notice, we refer to personal data as defined under GDPR and which include the sensitive information defined above and which is also protected under data protection laws.
                </p>
                <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                    Whose personal information do we collect and use
                </span>
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    We collect, use, and store personal information in respect the following types of individuals:
                    <br />
                    Candidates (i.e. job applicants/work-seekers)
                    <br />
                    Individuals who approach us seeking a new role or to discuss a role that they have become aware of, who respond to an advertisement we publish in respect of a role, or who we approach as someone who may be interested in a role we are currently seeking to fulfil for a client organisation or who may be interested in future roles we may have.
                    <br />
                    Contract Resource (i.e temporary workers or contractors)
                    <br />
                    Individuals who are Candidates and whom are subsequently supplied on a contract assignment to a Client. <br />
                    Client Contacts <br />
                    Employees within the HR function, hiring managers, and other employees within client organisations that we have communications with respect to our recruitment services and or otherwise have dealings with in the performance of our contract for recruitment services. <br />
                    Supplier Contacts <br />
                    Employees and other authorised individuals within organisations whom delivering business and/or support services to us as a supplier to maintain and/or operate our recruitment services under a contract for services. <br />
                    Referees <br />
                    Work and or personal referees whom our candidates may provide details of either in their CV or as requested by us or any other person that we approach to verify employment history as part of our suitability and employment checks. <br />
                    Emergency Contacts/Next of Kin <br />
                    Members of family and or partner whom a Candidate may provide to us as their emergency contact/next of kin. <br />
                    Referred Contacts <br />
                    Friends, colleagues, and other contacts whom a Candidate, Client or other third party with whom we have had dealings with may refer to us or recommend we contact with respect to a role or our recruitment services. <br />
                    When we refer to “you” or “your” we refer to the category of individual to whom the section of the privacy notice relates. <br />
                </p>
                <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                    Personal information we may collect
                </span>
                <br />
                <span style="font-size: 15px; text-align: left; line-height: 20px; font-weight: bold; color: black;">
                    Candidates and Contract Resource
                </span>
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    We may collect and process a range of personal information about you, whether obtained directly from you or obtained from a third-party source, and which includes but is not limited to contact details, work and employment history, education, professional qualifications and your personal interests that we believe are relevant to perform our recruitment services, administer any contract assignments that you undertake through us and comply with our legal obligations.  For more information on the types of personal information we may collect from you and or a third party, please see our Candidate/Contract Resource Personal Information Table below:
                </p>
            </div>
        </div>
    </div>
</div>