@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Scaled Agile";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index-2.html">Home</a></li>
                <li><span>/</span></li>
                <li>Services</li>
            </ul>
            <h2>Services</h2>
        </div>
    </div>
</section>
<section class="services-one services-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="0ms" style="visibility: visible; animation-delay: 0ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="assets/images/services/services-page-img-1.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            <a asp-area="" asp-controller="Home" asp-action="ITConsulting">IT Consulting & Solutions</a>
                        </h3>
                        <p class="services-one__text">
                            We enable successful & cost-efficient programs for our clients by providing them with highly experienced consultants matching their unique needs.
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="ITConsulting" class="services-one__btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="assets/images/services/services-page-img-4.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            <a asp-area="" asp-controller="Home" asp-action="Training">Training</a>
                        </h3>
                        <p class="services-one__text">
                            We support our clients’ digital journeys by building crucial skills through our Training offerings helping them navigate complex transformations. We cover a wide array of Skill development
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="Training" class="services-one__btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="assets/images/services/services-page-img-2.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            <a asp-area="" asp-controller="Home" asp-action="ITdevelopment">Web development & maintenance </a>
                        </h3>
                        <p class="services-one__text">
                            In today’sfast-changing technology landscape, weprovide our customers with a web design studio that offers corporate web design as well as web design for small-scale business..
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="ITdevelopment" class="services-one__btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="assets/images/services/services-page-img-3.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            <a asp-area="" asp-controller="Home" asp-action="Recruitment">Recruitment& Payroll Services</a>
                        </h3>
                        <p class="services-one__text">
                            We enable the end to end recruitment process for our clientsproviding access to our rich pool of candidates. We use a skill-contextual recruitment process to facilitate...
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="Recruitment" class="services-one__btn">Read More</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>