@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Strategic Alliance With Tyra ";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li>About Us</li>
            </ul>
            <h2>Strategic Alliance With Tyra</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--About Start-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about__img-box">
                    <div class="about-img">
                        <img src="images/strategic-slliance-with-tyra.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about__right">
                    <h2 class="about__title">Strategic Alliance With Tyra</h2>
                    <p>
                        We are proud to be the exclusive go-to-market partner for Tyra (<a href="https://tyra.io/" target="_blank">www.tyra.io</a>) in pan India level. Tyra is a well-established early learning platform in the Nordic market,
                        known for its innovative and research-backed preschool solutions. Together, we are bringing Tyra’s proven preschool platform to the Indian market — adapted for local needs,
                        languages, and learning contexts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>