@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Terms of use";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li>Terms of use</li>
            </ul>
            <h2>Terms of use</h2>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="services-details__bottom-box">
                <p style="text-align: left; padding: 20px; direction: ltr; font-size: 14px; line-height: 20px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0 0 10px;">
                    <span style="font-size: 22px; text-align: left; font-weight: bold; color: black;">PolarCastle</span>
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE
                    </span>
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        What is in these terms?
                    </span>
                    <br /><br />
                    <b>These terms tell you the rules for using our website <a style="color:darkblue;" href="https://www.polarcastle.com">www.polarcastle.com</a> </b>
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        Who we are and how to contact us
                    </span>
                    <br /><br />
                    Our site operated by PolarCastle (we). We are registered in Sweden under company number 559372-8131 and have our registered office at Fagelvagen 12 135 53 Tyreso.
                    To contact us, please email  : <b>info@polarcastle.com</b> or telephone : <b>
                        +46-727602626
                    </b>.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        By using our site you accept these terms
                    </span>
                    <br /><br />
                    By using our site, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms, you must not use our site.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        There are other terms that may apply to you
                    </span>
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        These terms of use refer to the following additional terms, which also apply to your use of our site:
                    </span>
                    <br /><br />
                    •	Our <a style="color:darkblue;" asp-area="" asp-controller="Home" asp-action="Privacypolicy">Privacy Policy</a>, which details how we may use your personal information.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        We may make changes to these terms
                    </span>
                    <br /><br />
                    We amend these terms from time to time. Every time you wish to use our site, please check these terms to ensure you understand the terms that apply at that time.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        We may make changes to our site
                    </span>
                    <br /><br />
                    We may update and change our site from time to time.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        We may suspend or withdraw our site
                    </span>
                    <br /><br />
                    We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our site for business and operational reasons. You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        We may transfer this agreement to someone else
                    </span>
                    <br /><br />
                    We may transfer our rights and obligations under these terms to another organisation. We will always tell you in writing if this happens and we will ensure that the transfer will not affect your rights under the contract.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        How you may use material on our site
                    </span>
                    <br /><br />
                    We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.
                    You may print off one copy, and may download extracts, of any page(s) from our site for your personal use and you may draw the attention of others within your organisation to content posted on our site.
                    You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
                    Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.
                    You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors.
                    If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        Do not rely on information on this site
                    </span>
                    <br /><br />
                    The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.
                    Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up to date.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        We are not responsible for websites we link to
                    </span>
                    <br /><br />
                    Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them.
                    We have no control over the contents of those sites or resources.
                    <br /><br />
                    <b>Our responsibility for loss or damage suffered by you</b>
                    <br />
                    •	We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.
                    <br />
                    •	We exclude all implied conditions, warranties, representations or other terms that may apply to our site or any content on it.
                    <br />
                    •	We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
                    <br />
                    •	use of, or inability to use, our site; or
                    <br />
                    •	use of or reliance on any content displayed on our site.
                    <br />
                    •	In particular, we will not be liable for:
                    <br />
                    •	loss of profits, sales, business, or revenue;
                    <br />
                    •	business interruption;
                    <br />
                    •	loss of anticipated savings;
                    <br />
                    •	loss of business opportunity, goodwill or reputation; or
                    <br />
                    •	any indirect or consequential loss or damage.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        How we may use your personal information
                    </span>
                    <br />
                    <br />
                    We will only use your personal information as set out in our
                    <a style="color:darkblue;" asp-area="" asp-controller="Home" asp-action="Privacypolicy">
                        Privacy Policy
                    </a>.
                    <br /><br />
                    We are not responsible for viruses and you must not introduce them
                    We do not guarantee that our site will be secure or free from bugs or viruses.
                    You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your own virus protection software.
                    You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.
                    <br /><br />
                    <span style="font-size: 15px; text-align: left; font-weight: bold; color: black;">
                        Which country’s laws apply to any disputes?
                    </span>
                    <br /><br />
                    These terms of use, their subject matter and their formation (and any non-contractual disputes or claims) are governed by Swedish law. We both agree to the exclusive jurisdiction of the courts of Sweden.

                </p>
            </div>
        </div>
    </div>
</div>
