@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = "Training Program";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                <li><span>/</span></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Training">Training</a></li>
            </ul>
            <h2>Training</h2>
        </div>
    </div>
</section>
<section class="services-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="services-details__left">
                    <div class="services-details__img">
                        <img src="~/assets/images/services/services-details-img-1.jpg" alt="">
                    </div>
                </div>

                <div class="services-details__bottom-box">
                    <div class="services-details__bottom-box-single">
                        <div class="services-details__top-content">
                            <h2 class="services-details__top-title">Training </h2>
                            <p class="services-details__top-text">
                                We support our clients’ digital journeys by building crucial skills through our Training offerings helping them navigate complex transformations. We cover a wide array of Skill development providing cutting edge Trainings in the field of Agile, Cloud, Security, Data etc.
                            </p>
                            <p class="services-details__top-text">
                                We identify and provide the right trainers as per your needs. We will be able to support your journey by equipping you with skills that will help you steer your organization.  Our Training methodologies are purpose-built to meet your current needs and help you to scale for your future.
                            </p>
                            <p class="services-details__top-text">
                                Our trainers are experienced Corporate Professional with diverse experience working across multiple sectors with ample training experiences on their respective courses. Our trainers adopt the training classes as per your needs in order to make the training more efficient and effective.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="services-details__sidebar">
                    <div class="services-details__help-box">
                        <div class="services-details__help-box-bg" style="background-image: url(~/assets/images/services/services-details-need-help-bg.jpg)">
                        </div>
                        <div class="services-details__help-box-bg-overly"></div>
                        <h3 class="services-details__help-box-title">Need Help?</h3>
                        <p class="services-details__help-box-text">
                            Prefer speaking with a human to filling out a
                            form? call corporate office and we will connect you with a team member who can help.
                        </p>
                        <a href="tel:+46-727602626" class="services-details__phone">+46-727602626</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="0ms" style="visibility: visible; animation-delay: 0ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img d-none">
                        <img src="~/assets/images/services/services-page-img-1.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            Scaled Agile
                        </h3>
                        <p class="services-one__text">
                            <ul class="list-unstyled services-details__planning-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Leading SAFe <strong>(SAFe Agilist)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>SAFe Product Owner / Product Manager <strong>(SAFe POPM)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>SAFe® Scrum Master <strong>(SAFe SSM)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>SAFe® Advanced Scrum Master <strong>(SASM)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>SAFe DevOps Practitioner <strong>(SDP)</strong> </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>SAFe® Lean Portfolio Management <strong>(LPM)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p> SAFe Agile Product Manager <strong>(APM)</strong></p>
                                    </div>
                                </li>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            Scrum Alliance
                        </h3>
                        <p class="services-one__text">
                            <ul class="list-unstyled services-details__planning-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Certified Scrum Master® <strong>(CSM®)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Advanced Certified ScrumMaster® <strong>(A-CSM®)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Certified Scrum Product Owner® <strong>(CSPO®)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Advanced Certified Scrum Product Owner® <strong>(A-CSPO®)</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Certified Scrum Professional®- Scrum Master
                                            <strong>(CSP®-SM)</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Certified Team Coach<sup>SM</sup> <strong>(CTC<sup>SM</sup>)</strong> Mentoring
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                           Kanban
                        </h3>
                        <p class="services-one__text">
                            <ul class="list-unstyled services-details__planning-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Kanban System Design <strong>(KMP1)</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Kanban Management Professional <strong>(KMP2)</strong>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInLeft;">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__content">
                        <h3 class="services-one__title">
                            Cloud
                        </h3>
                        <p class="services-one__text">
                            <ul class="list-unstyled services-details__planning-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <strong>
                                                AWS
                                            </strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <strong>GCP</strong>
                                        </p>
                                    </div>
                                </li>                               
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <strong>Microsoft Azure</strong>
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
